{% extends 'base.html' %}

{% block head %}
    {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
{% endblock %}

{% block body %}

<h1 class="businessName">WebDazigns<span style="color:#71a396;">.</span></h1>

<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1946">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="ml9">
              <span class="text-wrapper">
                <span class="letters">Get your website online with WebDazigns!</span>
              </span>
            </h1>
        </div>
        <div class="cs-content">
            <button class="btn" onclick="showForm()">Enquire Now</button>
        </div>
        <picture class="cs-picture">
            <source media="(min-width: 601px)" srcset="static/humans2.svg">
            <source media="(max-width: 600px)" srcset="static/humans2.svg">
            <img decoding="async" src="static/humans2.svg" alt="WebDazigns humaaans picture" width="1280" height="510">
        </picture>
        <div class="cs-content">
            <h2>Why Choose WebDazigns To Build Your Website?</h2>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="static/lordicon1.webp" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Simple</h3>
                        <p class="cs-item-text">We believe less is more. At WebDazigns, our clean, straightforward approach ensures that your website is easy to navigate, fast, and optimised for search engines—delivering a seamless experience for your visitors & driving better results for your business.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="static/lordicon2.webp" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Slick</h3>
                        <p class="cs-item-text">Your website is your digital storefront, and first impressions matter. At WebDazigns, we craft sleek, cutting-edge designs that stand out, engage your audience, and keep your brand looking fresh & modern in a competitive landscape.</p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="static/lordicon3.webp" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Speedy</h3>
                        <p class="cs-item-text">In today's fast-paced world, every second counts. Our lightning-fast websites ensure a smooth user experience, leading to higher engagement, better search rankings, and more conversions—because speed matters for your success.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h2>Websites We've Developed - Winute: Daily Quiz Game</h2>
            <a href="https://www.winute.co.uk" target="_blank">
                <img src="https://www.winute.co.uk/static/winute_color.svg" alt="Winute Preview" style="width:100%; max-width:600px; height: 300px; border: var(--accent) 2px solid;">
            </a>
            <h3>Technologies & Features Used</h3>
            <ul class="cs-card-group3">
                <li class="cs-item3">
                    <div class="cs-text-group">
                    <h3 class="cs-h3">Responsive Design</h3>
                        <p class="cs-item-text">Built with a mobile-first approach, ensuring an excellent user experience across all devices.</p>
                    </div>
                </li>
                <li class="cs-item3">
                    <div class="cs-text-group">
                    <h3 class="cs-h3">Database Optimisation</h3>
                        <p class="cs-item-text">Features secure login & signup functionality, allowing users to create accounts & track their progress driven by a database.</p>
                    </div>
                </li>
                <li class="cs-item3">
                    <div class="cs-text-group">
                    <h3 class="cs-h3">SEO</h3>
                        <p class="cs-item-text">Optimised for search engines, currently ranked #1 on Google for relevant keywords, driving organic traffic.</p>
                    </div>
                </li>
                <li class="cs-item3">
                    <div class="cs-text-group">
                    <h3 class="cs-h3">Analytics</h3>
                        <p class="cs-item-text">Utilises Google Analytics to monitor user engagement & gather insights for continuous improvement.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h2>Examples Of What We Can Build & Much More:</h2>
            <ul class="cs-card-group2">
                <li class="cs-item2">
                    <picture class="cs-icon-picture2">
                        <img class="cs-icon2" src="static/restaurant.png" decoding="async" alt="icon" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Restaurant/Coffee Shop</h3>
                    </div>
                </li>
                <li class="cs-item2">
                    <picture class="cs-icon-picture2">
                        <img class="cs-icon2" src="static/gym.png" decoding="async" alt="icon" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Gym Website</h3>
                    </div>
                </li>
                <li class="cs-item2">
                    <picture class="cs-icon-picture2">
                        <img class="cs-icon2" src="static/fashion.png" decoding="async" alt="icon" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Clothing Store</h3>
                    </div>
                </li>
                <li class="cs-item2">
                    <picture class="cs-icon-picture2">
                        <img class="cs-icon2" src="static/construction.png" decoding="async" alt="icon" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Construction/Trades Website</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="hero-1947">
    <div class="cs-container">
        <div class="cs-content">
        <div class="text-container">
            <h2 class="lastHeading">Your Local Web Designer & Developer</h2>
            <h3 class="lastText">At WebDazigns, our roots are here in Belfast, and so is our passion for helping local businesses thrive. With deep local insights, we understand the unique needs of the community & the digital landscape. Together, let’s create a website that’s as unique as your business.</h3>
            <h3 class="lastText">Ready to elevate your online presence? <a href="#contact" onclick="showForm()" style="color: var(--accent);">Contact us today</a> and let’s make it happen!</h3>
        </div>
        <div class="image-container">
        </div>
        </div>
    </div>
</section>
    <div class="overlay" id="formOverlay"> <!-- Overlay for the popup -->
        <form class="form" method="POST">
            <button type="button" class="close-btn" onclick="closeForm()">✖</button> <!-- Close button -->
            <p id="heading">Enquire</p>
            <div class="field">
                <input autocomplete="off" id="name" name="name" placeholder="Name" class="input-field" type="text">
            </div>
            <div class="field">
                <input autocomplete="off" id="company_name" name="company_name" placeholder="Company Name" class="input-field" type="text">
            </div>
            <div class="field">
                <input autocomplete="off" id="email" name="email" placeholder="Email Address" class="input-field" type="email">
            </div>
            <div class="field">
                <input autocomplete="off" id="phone_number" name="phone_number" placeholder="Phone Number" class="input-field" type="text">
            </div>
            <div class="field">
                <textarea id="comments" name="comments" placeholder="Additional info" class="input-field"></textarea>
            </div>
            <div class="button">
                <button class="button3" type="button" onclick="submitForm()">Send enquiry</button>
            </div>
        </form>
    </div>
<script>
// Wrap every letter in a span
var textWrapper = document.querySelector('.ml9 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: false})
  .add({
    targets: '.ml9 .letter',
    scale: [0, 1],
    duration: 1500,
    elasticity: 600,
    delay: (el, i) => 45 * (i+1)
  }).add({
    targets: '.ml9',
    opacity: 1,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

function showForm() {
    var overlay = document.getElementById('formOverlay');
    overlay.style.display = "flex"; // Show the overlay

    var form = document.querySelector('.form');
    form.style.display = "flex";
}

function closeForm() {
    var overlay = document.getElementById('formOverlay');
    overlay.style.display = "none"; // Hide the overlay
}

function submitForm() {
    // Gather form data
    const formData = {
        name: document.getElementById('name').value,
        company_name: document.getElementById('company_name').value,
        email: document.getElementById('email').value,
        phone_number: document.getElementById('phone_number').value,
        comments: document.getElementById('comments').value,
    };

    // Send the enquiry form
    fetch('/submit-form', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)  // Serialize form data as JSON
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            window.alert("Your enquiry has been sent! We'll be in touch soon.");
            closeForm();  // Optionally close the form after submission
        }
    })
    .catch(error => {
        console.error('Error submitting enquiry:', error);
        window.alert('There was an error submitting your enquiry. Please try again later.');
    });
}
</script>
{% endblock %}


