{% extends 'base.html' %}

{% block head %}
    {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
{% endblock %}

{% block body %}

<h1 class="businessName">WebDazigns<span style="color:#71a396;">.</span></h1>

<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1946">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="ml9">
              <span class="text-wrapper">
                <span class="letters">Get your website online with WebDazigns!</span>
              </span>
            </h1>
        </div>
        <div class="cs-content">
            <button class="btn" onclick="showForm()">Enquire Now</button>
        </div>
        <picture class="cs-picture">
            <source media="(min-width: 601px)" srcset="static/humans2.svg">
            <source media="(max-width: 600px)" srcset="static/humans2.svg">
            <img decoding="async" src="static/humans2.svg" alt="WebDazigns humaaans picture" width="1280" height="510">
        </picture>
            <h1>Why choose WebDazigns?</h1>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="static/lordicon1.webp" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Simple</h3>
                    <p class="cs-item-text">At WebDazigns, we prioritise simplicity because we believe in doing the basics exceptionally well. This means ensuring that your website’s core web vitals like speed, usability, and SEO are optimized to perform at the highest level.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="static/lordicon2.webp" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Slick</h3>
                    <p class="cs-item-text">We design sleek, modern websites that not only look amazing but also stay ahead of the curve. By constantly tracking the latest design and technology trends, we ensure your site remains stylish and relevant.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-picture">
                    <img class="cs-icon" src="static/lordicon3.webp" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Speedy</h3>
                    <p class="cs-item-text">Speed is critical for user experience and SEO. Thanks to our streamlined development process, we build efficient websites that are lightning-fast, delivering an optimal experience to every visitor.</p>
                </div>
            </li>
        </ul>
            <h2>Sites we created - Winute: Daily quiz game</h2>
            <h3>Technologies & Features</h3>
            <ul class="cs-card-group3">
                <li class="cs-item3">
                    <div class="cs-text-group">
                    <h3 class="cs-h3">Responsive Design</h3>
                        <p class="cs-item-text">Built with a mobile-first approach, ensuring an excellent user experience across all devices.</p>
                    </div>
                </li>
                <li class="cs-item3">
                    <div class="cs-text-group">
                    <h3 class="cs-h3">Database Optimisation</h3>
                        <p class="cs-item-text">Features secure login and signup functionality, allowing users to create accounts and track their progress driven by a backend database.</p>
                    </div>
                </li>
                <li class="cs-item3">
                    <div class="cs-text-group">
                    <h3 class="cs-h3">SEO</h3>
                        <p class="cs-item-text">Optimised for search engines, currently ranked #1 on Google for relevant keywords, driving organic traffic.</p>
                    </div>
                </li>
                <li class="cs-item3">
                    <div class="cs-text-group">
                    <h3 class="cs-h3">Analytics</h3>
                        <p class="cs-item-text">Utilises Google Analytics to monitor user engagement and gather insights for continuous improvement.</p>
                    </div>
                </li>
            </ul>
            <iframe src="https://www.winute.co.uk" width="100%" height="600px" loading="lazy" style="border: 4px solid var(--secondary);">
                Your browser does not support iframes.
            </iframe>
            <p><h1>Snippet of what we can provide:</h1>
        <ul class="cs-card-group2">
            <li class="cs-item2">
                <picture class="cs-icon-picture2">
                    <img class="cs-icon2" src="static/restaurant.png" decoding="async" alt="icon" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Restaurant/Coffee Shop</h3>
                </div>
            </li>
            <li class="cs-item2">
                <picture class="cs-icon-picture2">
                    <img class="cs-icon2" src="static/gym.png" decoding="async" alt="icon" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Gym Website</h3>
                </div>
            </li>
            <li class="cs-item2">
                <picture class="cs-icon-picture2">
                    <img class="cs-icon2" src="static/fashion.png" decoding="async" alt="icon" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Clothing Store</h3>
                </div>
            </li>
            <li class="cs-item2">
                <picture class="cs-icon-picture2">
                    <img class="cs-icon2" src="static/construction.png" decoding="async" alt="icon" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Construction/Trades Website</h3>
                </div>
            </li>
        </ul>

    </div>
    <div class="overlay" id="formOverlay"> <!-- Overlay for the popup -->
        <form class="form" method="POST">
            <button type="button" class="close-btn" onclick="closeForm()">✖</button> <!-- Close button -->
            <p id="heading">Enquire</p>
            <div class="field">
                <input autocomplete="off" id="name" name="name" placeholder="Name" class="input-field" type="text">
            </div>
            <div class="field">
                <input autocomplete="off" id="company_name" name="company_name" placeholder="Company Name" class="input-field" type="text">
            </div>
            <div class="field">
                <input autocomplete="off" id="email" name="email" placeholder="Email Address" class="input-field" type="email">
            </div>
            <div class="field">
                <input autocomplete="off" id="phone_number" name="phone_number" placeholder="Phone Number" class="input-field" type="text">
            </div>
            <div class="field">
                <textarea id="comments" name="comments" placeholder="Additional info" class="input-field"></textarea>
            </div>
            <div class="button">
                <button class="button3" type="button" onclick="submitForm()">Send enquiry</button>
            </div>
        </form>
    </div>
</section>
<script>
// Wrap every letter in a span
var textWrapper = document.querySelector('.ml9 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml9 .letter',
    scale: [0, 1],
    duration: 1500,
    elasticity: 600,
    delay: (el, i) => 45 * (i+1)
  }).add({
    targets: '.ml9',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

function showForm() {
    var overlay = document.getElementById('formOverlay');
    overlay.style.display = "flex"; // Show the overlay

    var form = document.querySelector('.form');
    form.style.display = "flex";
}

function closeForm() {
    var overlay = document.getElementById('formOverlay');
    overlay.style.display = "none"; // Hide the overlay
}

function submitForm() {
    // Gather form data
    const formData = {
        name: document.getElementById('name').value,
        company_name: document.getElementById('company_name').value,
        email: document.getElementById('email').value,
        phone_number: document.getElementById('phone_number').value,
        comments: document.getElementById('comments').value,
    };

    // Send the enquiry form
    fetch('/submit-form', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)  // Serialize form data as JSON
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            window.alert("Your enquiry has been sent! We'll be in touch soon.");
            closeForm();  // Optionally close the form after submission
        }
    })
    .catch(error => {
        console.error('Error submitting enquiry:', error);
        window.alert('There was an error submitting your enquiry. Please try again later.');
    });
}
</script>
{% endblock %}


